.contents-sidebar {
  @apply pb-10;

  .chapter {
    @apply pt-6;
    @apply px-0;
    &:first-of-type {
      @apply pt-0;
    }
    li {
      @apply pt-2;
      @apply pl-7;
      @apply text-coolGray-600;

      &:not(.title):hover {
        @apply font-semibold;
        @apply cursor-pointer;
      }

      &.title {
        @apply uppercase;
        @apply font-semibold;
        @apply cursor-default;
        @apply select-none;
      }

      &.page {
        @apply ml-2;
        @apply whitespace-nowrap;
      }
    }

    .active {
      @apply text-accent;
      @apply font-semibold;
    }
  }
}
