.content {
  @apply text-gray-700;
  @apply leading-7;

  img {
    @apply mt-6;
    @apply mb-8;
  }

  table {
    @apply border-collapse;
    @apply table-auto;
    @apply w-full;
    @apply max-w-3xl;
    @apply bg-white;
    @apply relative;
    @apply border-2;
    @apply border-coolGray-200;
    @apply shadow-md;
    @apply mb-4;
    @apply mx-auto;

    thead > tr {
      @apply text-left;
      @apply border-2;
      @apply border-coolGray-200;

      & > th {
        @apply bg-gray-100;
        @apply sticky;
        @apply top-0;
        @apply border-b;
        @apply border-gray-200;
        @apply px-6;
        @apply py-2;
        @apply text-gray-600;
        @apply font-bold;
        @apply tracking-wider;
        @apply uppercase;
        @apply text-xs;
      }
    }

    tbody > tr {
      td {
        @apply border-dashed;
        @apply border-t;
        @apply border-gray-200;
        @apply px-6;
        @apply text-gray-700;
        @apply py-3;
        @apply items-center;
      }
    }
  }

  blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";

    p:first-of-type {
      display: inline;
    }

    &:before {
      color: #ccc;
      content: open-quote;
      font-size: 4em;
      line-height: 0.1em;
      vertical-align: -0.4em;
    }
  }

  ul {
    @apply list-disc;
    @apply mx-8;
  }

  ol {
    @apply list-decimal;
    @apply mx-6;
  }

  a {
    @apply text-secondary;

    &:hover {
      @apply underline;
    }
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6,
  p {
    @apply my-5;
  }

  h1 {
    @apply text-4xl;
    @apply text-black;
  }

  h2 {
    @apply text-3xl;
    @apply text-black;
    @apply leading-10;
  }

  h3 {
    @apply text-2xl;
    @apply text-black;
  }

  h4 {
    @apply text-xl;
    @apply text-black;
  }

  h5 {
    @apply text-lg;
    @apply text-black;
  }

  h6 {
    @apply text-black;
  }

  .anchor {
    @apply flex;
    @apply items-end;
    @apply justify-end;
    @apply h-full;

    svg {
      visibility: visible;
      @apply fill-current;
      @apply text-accent;
      @apply text-opacity-80;
      height: 55%;
      max-height: 25px;
      max-width: 25px;
      margin-bottom: 7px;
      transition: opacity 0.5s;

      &:hover {
        @apply text-opacity-100;
      }
    }
  }
}
