/**
 * St. Jude Sans, Light
 */

 @font-face {
    font-family: "St. Jude Sans";
    src: url(../fonts/stjude-sans-light.ttf);
    font-weight: light;
    font-style: normal;
}

@font-face {
    font-family: "St. Jude Sans";
    src: url(../fonts/stjude-sans-light-italic.ttf);
    font-weight: light;
    font-style: italic;
}

/**
 * St. Jude Sans
 */

@font-face {
    font-family: "St. Jude Sans";
    src: url(../fonts/stjude-sans-regular.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "St. Jude Sans";
    src: url(../fonts/stjude-sans-regular-italic.ttf);
    font-weight: normal;
    font-style: italic;
}

/**
 * St. Jude Sans, Medium
 */

@font-face {
    font-family: "St. Jude Sans";
    src: url(../fonts/stjude-sans-medium.ttf);
    font-weight: medium;
    font-style: normal;
}

@font-face {
    font-family: "St. Jude Sans";
    src: url(../fonts/stjude-sans-medium-italic.ttf);
    font-weight: medium;
    font-style: italic;
}

/**
 * St. Jude Sans, Bold
 */

@font-face {
    font-family: "St. Jude Sans";
    src: url(../fonts/stjude-sans-bold.ttf);
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: "St. Jude Sans";
    src: url(../fonts/stjude-sans-bold-italic.ttf);
    font-weight: bold;
    font-style: italic;
}

/**
 * St. Jude Sans Book
 */

@font-face {
    font-family: "St. Jude Sans Book";
    src: url(../fonts/stjude-sans-book.ttf);
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: "St. Jude Sans Book";
    src: url(../fonts/stjude-sans-book-italic.ttf);
    font-weight: normal;
    font-style: italic;
}
