.call-to-action-btn {
  //   width: 558px;
  //   height: 169px;
  width: 558px;
  max-width: 558px;
  height: 169px;
  padding: 26px 55px 35px 42px;
  border-radius: 15px;
  box-shadow: 0 2px 25px 0 rgba(68, 68, 68, 0.11);
  background-color: #ffffff;
}
